.wd-searchbox {
    width: 90%;
    padding: 5px;
    padding-left: 50px;
    background-color:#A9A9A9;
    color:#D3D3D3 ;
}

.wd-setting {
    color: #00BFFF;
}

.wd-rounded-corners-all-around {
 border-radius: 50px;
}

.wd-float-left {
   float: left;
}

.wd-float-right {
   float: right;
}

.wd-border-round {
    border-radius: 50px;
}

.wd-padding{
    padding: 10px;
}


.wd-post {
    border-style: solid;
    border-width: thin;
    padding: 15px;
    overflow:auto;
    margin-right: 16px;
}

.wd-posts {
    margin-top: 70px;
}

.wd-topic, .wd-tuits {
    font-size: 13px;
    display: block;
    padding: 5px;
}

.wd-title {
    display: block;
    padding: 5px;
}

.wd-margin {
    margin: 50px 50px 50px 50px;
}

.wd-black-background {
    background-color: black;
}

.wd-white-text {
    color:white;
}

.wd-gray-text {
    color:#A9A9A9;
}


.wd-bold {
    font-weight: bold;
}

.wd-hr-line {
    color: #A9A9A9;
}

.wd-disabled-link{
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}

.wd-no-underline {
    text-decoration: none;
}

.wd-border {
    border: rgb(47, 51, 54);
    border-style: solid;
    border-width: thin;
}

.wd-round {
    border-radius: 50%;
}

.wd-handle {
    font-size: 14px;
    color: rgb(110, 118, 125);
}

.wd-img-rounded-corner {
    border-radius: 20%;
}

.wd-border-bottom {
    border-bottom: solid #0d6efd;
}

.wd-text-color-grey {
    color:grey;
}

.wd-text-color-black {
    color:black;
}

.wd-remove-border {
    border:0 none;
}


.wd-background-grey {
    background-color: #F5F5F5;
}


.wd-background-black {
    background-color: black;
}

.wd-background-white {
    background-color: white;
}

.wd-text-color-white {
    color:white
}

.wd-width-full {
    width:100%;
}

.wd-icon-transparant {
    border-color: green;

}

.wd-remove-anchor-underline {
    text-decoration: none !important;
}

.wd-font-size {
    font-size: small
}

.wd-remove-top-border {
    border-top: 0 none;
}

.fa-twitter {
    color: blue;
  }

.fa-home {
    --fa-border-color:black;
}

.fa-gear {
    color: black;
}